html,
html a {
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-decoration: none;
}
body {
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: #282828;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
}
input,
textarea {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 8px 14px;
  margin: 0 10px;
  border: 1px solid #c8c8c8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  line-height: 1.5;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #00a99d;
}
*::selection,
input::selection,
textarea::selection {
  background: #00a99d;
  color: #fff;
}
button,
input.send {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 8px 18px;
  border: none;
  background-color: #00a99d;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button:hover,
input.send:hover {
  background-color: #00c3b5;
}
button:active,
input.send:active {
  background-color: #009085;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
a {
  color: #00a99d;
}
i {
  text-shadow: none;
}
.aright {
  text-align: right;
}
.aleft {
  text-align: left;
}
.hexagon {
  position: absolute;
  bottom: -70px;
  left: 50%;
  width: 80px;
  height: 92px;
  margin-left: -40px;
}
.hexagon .outer {
  position: relative;
  float: left;
  width: 80px;
  height: 46px;
  background: #ffffff;
}
.hexagon .outer:before {
  border: 1px solid #ffffff;
  border-bottom-width: 23px;
  border-top-width: 23px;
  border-left-width: 40px;
  border-right-width: 40px;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent transparent #ffffff transparent;
  float: left;
  margin-top: -46px;
  position: relative;
}
.hexagon .outer:after {
  border: 1px solid #ffffff;
  border-bottom-width: 23px;
  border-top-width: 23px;
  border-left-width: 40px;
  border-right-width: 40px;
  content: "";
  width: 0;
  height: 0;
  border-color: #ffffff transparent transparent transparent;
  float: left;
  margin-top: 46px;
  position: relative;
}
.hexagon .inner {
  position: relative;
  float: left;
  width: 68px;
  height: 40px;
  background-color: #ffffff;
  margin-top: -43px;
  margin-left: 6px;
}
.hexagon .inner:before {
  border: 1px solid #ffffff;
  border-bottom-width: 20px;
  border-top-width: 20px;
  border-left-width: 34px;
  border-right-width: 34px;
  content: "";
  width: 0;
  height: 0;
  border-color: transparent transparent #ffffff transparent;
  float: left;
  margin-top: -40px;
  position: relative;
}
.hexagon .inner:after {
  border: 1px solid #ffffff;
  border-bottom-width: 20px;
  border-top-width: 20px;
  border-left-width: 34px;
  border-right-width: 34px;
  content: "";
  width: 0;
  height: 0;
  border-color: #ffffff transparent transparent transparent;
  float: left;
  margin-top: 40px;
  position: relative;
}
.hexagon-top {
  top: -25px;
}
.whiteblock {
  color: #282828;
}
.whiteblock a {
  color: #00a99d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.whiteblock a:hover {
  color: #c8c8c8;
}
.colorblock {
  background: #00a99d;
  color: #ffffff;
}
.colorblock a {
  color: #ffffff;
}
.colorblock .button {
  display: inline-block;
  padding: 0.8em 2em;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.colorblock .button:hover {
  background: rgba(0, 0, 0, 0.4);
}
.colorblock .button:active {
  background: rgba(255, 255, 255, 0.1);
}
.grayblock {
  background: #efefef;
  color: #282828;
}
.block {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0 0 100px 0;
  z-index: 1;
}
.block .block-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 0 0;
}
.block .block-container .title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 40px 0 0.2em 0;
}
.block .block-container .description {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.block .block-container .storebuttons {
  position: relative;
  margin-top: 2em;
}
.block .block-container .storebuttons .storebutton {
  width: 180px;
  height: 60px;
  background-color: #c8c8c8;
  border-radius: 4px;
  display: inline-block;
  margin: 0.5em;
  border: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.block .block-container .storebuttons .storebutton img {
  border: none;
}
.block .block-container .storebuttons .storebutton:hover {
  background-color: #00a99d;
}
.socialblock {
  display: inline-block;
  padding: 0.5em;
}
.socialblock .socialicon {
  position: relative;
  float: left;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 8px;
}
.socialblock .socialicon i {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.socialblock .socialicon i:hover {
  color: #00a99d;
  font-size: 36px;
  margin: -6px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.mainmenu {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  text-align: center;
  background: #00a99d;
}
.mainmenu .menuwrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.mainmenu .menuwrapper .logoblock {
  float: left;
  padding: 0.8em 1em 0 1em;
  display: inline-block;
}
.mainmenu .menuwrapper .logoblock .companyname {
  float: left;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0.3em 0 0 1em;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mainmenu .menuwrapper .logoblock:hover .companyname {
  color: #fff;
}
.mainmenu .menuwrapper .menulist {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1em;
  position: relative;
}
.mainmenu .menuwrapper .menulist .items {
  display: inline-block;
}
.mainmenu .menuwrapper .menulist .items .menuitem {
  float: left;
  list-style: none;
}
.mainmenu .menuwrapper .menulist .items .menuitem a {
  color: #fff;
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0 0.5em;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mainmenu .menuwrapper .menulist .items .menuitem a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.mainmenu .menuwrapper .menulist .items .menuitem a:active {
  background: rgba(255, 255, 255, 0.2);
}
.mainmenu .menuwrapper .socialblock {
  float: right;
  padding: 1.2em 1em 0 1em;
}
.mainmenu .menuwrapper .socialblock .socialicon {
  width: 1.2em;
  height: 1.2em;
  margin: 0 0 0 10px;
}
.mainmenu .menuwrapper .socialblock .socialicon i {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
.mainmenu .menuwrapper .socialblock .socialicon i:hover {
  color: #fff;
  font-size: 30px;
  margin: -4px 0 0 -4px;
}
.homeblock #description-home {
  text-align: right;
  width: 50%;
  float: left;
  position: relative;
  margin-top: 180px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
}
.homeblock #description-home .wrapper {
  max-width: 550px;
  float: right;
  margin: 0 40px 0 20px;
}
.homeblock #description-home .wrapper .developer {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.homeblock #description-home .wrapper .maintext {
  margin: 50px 0;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: uppercase;
}
.homeblock #description-home .wrapper .descriptiontext {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
  max-width: 400px;
  float: right;
}
.homeblock #description-home .wrapper .mobilebrands {
  float: right;
  clear: both;
  margin: 2em 0;
}
.homeblock #description-home .wrapper .mobilebrands .mobileicon {
  display: inline-block;
  float: left;
  position: relative;
  font-size: 48px;
  width: 1.5em;
  height: 1em;
}
.homeblock #description-home .wrapper .mobilebrands .mobileicon i {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  border-radius: 50%;
}
.homeblock #description-home .wrapper .mobilebrands .mobileicon i:hover {
  color: #fff;
  -webkit-transform: rotate(360deg) scale(1.2);
  -moz-transform: rotate(360deg) scale(1.2);
  -ms-transform: rotate(360deg) scale(1.2);
  -o-transform: rotate(360deg) scale(1.2);
  transform: rotate(360deg) scale(1.2);
}
.homeblock #description-home.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.homeblock #picture-home {
  float: left;
  width: 50%;
  min-height: 700px;
}
.homeblock #picture-home .wrapper {
  position: relative;
}
.homeblock #picture-home .wrapper .container {
  position: absolute;
}
.homeblock #picture-home .wrapper .container .stack {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
  opacity: 0;
  z-index: 70;
  position: relative;
  left: 0;
}
.homeblock #picture-home .wrapper .container .stack .gadget {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 76;
}
.homeblock #picture-home .wrapper .container .stack .display {
  position: absolute;
  width: 90%;
  left: 0;
  top: 0;
  margin-left: 5%;
  margin-top: 28%;
  height: auto;
  background-color: #00a99d;
  z-index: 77;
}
.homeblock #picture-home .wrapper .container .shadow {
  content: "";
  width: 90%;
  height: auto;
  margin-left: 5%;
  height: 1px;
  z-index: 75;
  margin-top: -8px;
  border-radius: 50%;
  background: #000000;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  box-shadow: 0;
}
.homeblock #picture-home .wrapper .phone {
  width: 469px;
}

.homeblock #picture-home .wrapper .tablet {
  margin-top: 30px;
  top: 0;
  right: 0;
  width: 380px;
}
.homeblock #picture-home .wrapper .tablet .stack {
  z-index: 60;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.homeblock #picture-home .wrapper .tablet .stack .gadget {
  z-index: 66;
}
.homeblock #picture-home .wrapper .tablet .stack .display {
  width: 80%;
  margin-left: 10%;
  margin-top: 21.5%;
  z-index: 67;
}
.homeblock #picture-home .wrapper .tablet .shadow {
  margin-top: -5px;
  z-index: 65;
}
.homeblock #picture-home.active .wrapper .container .stack {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.homeblock #picture-home.active .wrapper .container .shadow {
  height: 5px;
  opacity: 0.9;
  box-shadow: 10px 0 2px 2px rgba(0, 0, 0, 0.4), -10px 0 2px 2px rgba(0, 0, 0, 0.4), 15px 0 8px 4px rgba(0, 0, 0, 0.5), -15px 0 8px 4px rgba(0, 0, 0, 0.5), -4px 0 2px rgba(0, 0, 0, 0.9), 4px 0 2px rgba(0, 0, 0, 0.9), 8px 0 8px rgba(0, 0, 0, 0.9), -8px 0 8px rgba(0, 0, 0, 0.9), inset 0 0 3px #000000;
}
.appsblock .apps .slider {
  margin: 60px 0 20px 0;
  position: relative;
  float: left;
  min-width: 99%;
  min-height: 200px;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -o-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.appsblock .apps .slider .navigation {
  width: 50px;
  height: 50px;
  font-size: 20px;
  z-index: 500;
  color: #ffffff;
  background: #c8c8c8;
  border-radius: 50%;
  position: absolute;
  margin: 0 40px;
  top: 40%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.appsblock .apps .slider .navigation i {
  float: left;
  padding: 15px 18px;
}
.appsblock .apps .slider .navigation-left {
  left: 0;
}
.appsblock .apps .slider .navigation-right {
  right: 0;
}
.appsblock .apps .slider .navigation:hover {
  -webkit-transform: rotate(360deg) scale(1.3);
  -moz-transform: rotate(360deg) scale(1.3);
  -ms-transform: rotate(360deg) scale(1.3);
  -o-transform: rotate(360deg) scale(1.3);
  transform: rotate(360deg) scale(1.3);
  background: #00a99d;
}
.appsblock .apps .slider .rotator {
  max-width: 960px;
  margin: 0 120px;
  height: 100%;
  position: relative;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.appsblock .apps .slider .rotator .slide {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-backface-visibility: visible;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  display: table;
  vertical-align: middle;
  opacity: 0;
  text-align: left;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper {
  position: relative;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .picture {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  text-align: center;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .picture img {
  max-width: 300px;
  width: 100%;
  height: auto;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .container {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
  position: relative;
  z-index: 50;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .container .title {
  margin: 0 0 20px 0;
  font-size: 40px;
  text-align: inherit;
}
.appsblock .apps .slider .rotator .slide .slide-wrapper .container .description {
  display: inline-block;
  font-size: 16px;
  text-align: inherit;
  line-height: 1.6;
  color: #777777;
}
.appsblock .apps .slider .rotator .active {
  opacity: 1;
  z-index: 200;
}
.appsblock .apps .slider .rotator .odd {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.appsblock .apps .slider .revert {
  -webkit-transform: rotateY(360deg);
}
.skillsblock {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}
.skillsblock .skillcontainer {
  width: 33%;
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.skillsblock .skillcontainer .wrapper {
  display: inline-block;
  padding: 40px;
}
.skillsblock .skillcontainer .wrapper .skillogo {
  display: inline-block;
}
.skillsblock .skillcontainer .wrapper .skillogo .logocontainer {
  position: relative;
  text-align: center;
  color: #afafaf;
  display: table-cell;
  vertical-align: middle;
  width: 2.4em;
  height: 2.4em;
  font-size: 50px;
  border: 4px solid #00a99d;
  border-radius: 50%;
  zoom: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0 1px 0 #fff;
}
.skillsblock .skillcontainer .wrapper .skillogo .logocontainer i {
  text-shadow: 0 1px 0px #fff;
}
.skillsblock .skillcontainer .wrapper .title {
  font-weight: 400;
  color: #6e6e6e;
  margin: 40px 0 1em 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.skillsblock .skillcontainer .wrapper .description {
  font-size: 16px;
  color: #6e6e6e;
  line-height: 1.5;
}
.skillsblock .skillcontainer:hover .skillogo .logocontainer {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  border-color: #c8c8c8;
  color: #00a99d;
}
.skillsblock .skillcontainer:hover .title {
  color: #00a99d;
}
.teamblock .block-container .teamcontainer {
  margin: 80px 0 60px 0;
  display: inline-block;
}
.teamblock .block-container .teamcontainer .personal {
  width: 280px;
  display: inline-block;
  position: relative;
  font-size: 0;
  vertical-align: top;
}
.teamblock .block-container .teamcontainer .personal .photo {
  width: 200px;
  height: 200px;
  border: 5px solid #c8c8c8;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  opacity: 0.9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.teamblock .block-container .teamcontainer .personal .photo img {
  width: 100%;
  height: auto;
}
.teamblock .block-container .teamcontainer .personal .userinfo {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  padding: 2em 0 1em 0;
}
.teamblock .block-container .teamcontainer .personal .userinfo .name {
  font-size: 18px;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 0.4em;
}
.teamblock .block-container .teamcontainer .personal .userinfo .status {
  color: #6e6e6e;
  position: relative;
}
.teamblock .block-container .teamcontainer .personal:hover .photo {
  border-color: #00a99d;
  -webkit-transform: rotate(0) scale(1.2);
  -moz-transform: rotate(0) scale(1.2);
  -ms-transform: rotate(0) scale(1.2);
  -o-transform: rotate(0) scale(1.2);
  transform: rotate(0) scale(1.2);
  opacity: 1;
}
.priceblock .block-container {
  text-align: center;
}
.priceblock .block-container .pricetable {
  display: inline-block;
  font-weight: 300;
  margin: 100px 0 20px 0;
}
.priceblock .block-container .pricetable .priceitem {
  max-width: 300px;
  width: 25%;
  min-width: 250px;
  min-height: 200px;
  z-index: 10;
  background: #00a99d;
  float: left;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.priceblock .block-container .pricetable .priceitem .wrapper {
  padding: 1px 0 40px 0;
  background: rgba(255, 255, 255, 0.1);
}
.priceblock .block-container .pricetable .priceitem .wrapper .title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.6em 0;
  margin: 0.6em 40px;
  color: #ffffff;
}
.priceblock .block-container .pricetable .priceitem .wrapper .services-list {
  position: relative;
  display: inline-block;
  clear: both;
  padding: 0 40px;
}
.priceblock .block-container .pricetable .priceitem .wrapper .services-list .service {
  text-align: left;
  float: left;
  clear: both;
  margin: 0.5em;
}
.priceblock .block-container .pricetable .priceitem .wrapper .services-list .service i {
  margin-right: 1em;
  float: left;
  font-size: 20px;
}
.priceblock .block-container .pricetable .priceitem .wrapper .services-list .include {
  color: #fff;
}
.priceblock .block-container .pricetable .priceitem .wrapper .services-list .exclude i {
  color: rgba(0, 0, 0, 0.4);
}
.priceblock .block-container .pricetable .priceitem .wrapper .cost {
  text-align: center;
  display: inline-block;
  clear: both;
  width: 100%;
  margin: 1em 0 2em 0;
}
.priceblock .block-container .pricetable .priceitem .wrapper .cost .container {
  display: inline-block;
}
.priceblock .block-container .pricetable .priceitem .wrapper .cost .container h1 {
  font-weight: 700;
  float: left;
}
.priceblock .block-container .pricetable .priceitem .wrapper .cost .container .line {
  float: left;
  margin-top: 2em;
}
.priceblock .block-container .pricetable .priceitem .wrapper .button {
  font-weight: 400;
  text-transform: uppercase;
}
.priceblock .block-container .pricetable .priceitem:hover {
  -webkit-transform: rotate(0) scale(1.1);
  -moz-transform: rotate(0) scale(1.1);
  -ms-transform: rotate(0) scale(1.1);
  -o-transform: rotate(0) scale(1.1);
  transform: rotate(0) scale(1.1);
  z-index: 100;
  box-shadow: 8px 0 8px -10px rgba(0, 0, 0, 0.5), -8px 0 8px -10px rgba(0, 0, 0, 0.5);
}
.priceblock .block-container .pricetable .priceitem:nth-child(2n) .wrapper {
  background: rgba(0, 0, 0, 0.1);
}
.priceblock .block-container .infoblock {
  margin-bottom: 40px;
  margin-left: 80px;
  float: left;
  width: 50%;
  display: inline-block;
  text-align: left;
  font-weight: 300;
}
.priceblock .block-container .infoblock .title {
  text-transform: none;
  text-align: left;
}
.priceblock .block-container .infoblock .contacticons {
  margin-top: 20px;
}
.priceblock .block-container .infoblock .contacticons .item {
  display: inline-block;
  margin-right: 1em;
  padding: 0.2em 0.6em;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.priceblock .block-container .infoblock .contacticons .item i {
  font-size: 22px;
  float: left;
}
.priceblock .block-container .infoblock .contacticons .item .sign {
  margin-left: 0.5em;
}
.priceblock .block-container .infoblock .contacticons a.item:hover {
  background: rgba(0, 0, 0, 0.2);
}
.blogblock {
  background: #f0f0f0;
  padding: 0;
}
.blogblock .block-container {
  background: #ffffff;
  text-align: left;
  padding-top: 100px;
}
.blogblock .block-container .title {
  margin-top: 0;
}
.blogblock .block-container .post {
  padding: 60px 120px;
  border-bottom: 1px solid #f0f0f0;
}
.blogblock .block-container .post .title {
  text-align: left;
  font-weight: 400;
  color: #505050;
}
.blogblock .block-container .post .author {
  color: #6e6e6e;
  font-size: 14px;
  text-shadow: none;
}
.blogblock .block-container .post .post-body {
  margin: 40px 0;
  font-weight: 300;
  color: #6e6e6e;
  line-height: 1.7;
}
.blogblock .block-container .post .more-link {
  text-align: right;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
}
.twitterblock {
  background: #00b4ff;
}
.twitterblock .block-container .twitterlogo {
  font-size: 120px;
  float: left;
  text-align: left;
  margin: 0 140px;
}
.twitterblock .block-container .messages-container {
  width: 50%;
  float: left;
  text-align: left;
  position: relative;
  min-height: 200px;
  display: inline-block;
}
.twitterblock .block-container .messages-container .message {
  opacity: 0;
  z-index: -1;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.twitterblock .block-container .messages-container .message .content {
  font-size: 24px;
  font-weight: 300;
  margin: 40px 0 20px 0;
}
.twitterblock .block-container .messages-container .message .author {
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.8;
}
.twitterblock .block-container .messages-container .message.active {
  opacity: 1;
  z-index: 50;
}
.partnersblock {
  padding-bottom: 80px;
}
.partnersblock .block-container .partnerslist {
  margin: 40px 0;
}
.partnersblock .block-container .partnerslist .partner {
  display: inline-block;
  max-width: 160px;
  padding: 10px 20px;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.partnersblock .block-container .partnerslist .partner img {
  border: none;
  width: 100%;
  height: auto;
}
.partnersblock .block-container .partnerslist .partner:hover {
  opacity: 1;
}
.contactsblock {
  padding: 0;
  margin: 0;
  height: 700px;
  float: left;
  border-top: 1px solid #c8c8c8;
}
.contactsblock .map {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.contactsblock .map #map-canvas {
  height: 100%;
  width: 100%;
  position: relative;
}
.contactsblock .block-container {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 40%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  right: 0;
  top: 0;
}
.contactsblock .block-container .wrapper {
  float: left;
  position: relative;
  padding: 60px 40px 0 100px;
}
.contactsblock .block-container .wrapper h2.title {
  font-size: 30px;
}
.contactsblock .block-container .wrapper .contact-info {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
}
.contactsblock .block-container .wrapper .contact-info .title {
  font-size: 18px;
  color: #fff;
}
.contactsblock .block-container .wrapper .contact-info a {
  color: rgba(255, 255, 255, 0.7);
  padding: 0.2em 0.5em;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contactsblock .block-container .wrapper .contact-info a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #00a99d;
}
.contactsblock .block-container .wrapper .mailbutton {
  cursor: pointer;
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  padding: 20px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contactsblock .block-container .wrapper .mailbutton i {
  font-size: 40px;
  width: 45px;
  height: 45px;
  display: inline-block;
}
.contactsblock .block-container .wrapper .mailbutton:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  border-color: #00a99d;
  background-color: #00a99d;
}
.contactsblock .input-container {
  opacity: 0;
  position: absolute;
  color: #282828;
  z-index: -1;
  top: 0;
  right: 40%;
  width: 400px;
  min-width: 300px;
  margin-top: 80px;
  padding: 40px 60px 40px 60px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contactsblock .input-container h3.title {
  margin: 10px 0;
}
.contactsblock .input-container input,
.contactsblock .input-container textarea {
  width: 100%;
  clear: both;
  margin: 5px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  position: relative;
  display: inline-block;
}
.contactsblock .input-container textarea {
  height: 200px;
}
.contactsblock .input-container button {
  width: 100%;
}
.contactsblock .input-container:after {
  content: "";
  width: 0px;
  height: 0px;
  border: 20px solid #ffffff;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  right: -40px;
  top: 75%;
}
.contactsblock .input-container.active {
  opacity: 1;
  right: 45%;
  z-index: 100;
}
.footerblock {
  text-align: center;
  padding: 40px 0;
}
.footerblock a.copyright {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}
@media screen and (max-width: 1024px) {
  .mainmenu {
    position: absolute;
  }
  .mainmenu .menuwrapper a.logoblock,
  .mainmenu .menuwrapper .socialblock {
    display: none;
  }
  .homeblock .block-container #description-home {
    text-align: center;
    width: auto;
    float: left;
    position: relative;
    margin-top: 40px;
    padding: 0 60px;
  }
  .homeblock .block-container #description-home .wrapper {
    max-width: none;
  }
  .homeblock .block-container #description-home .wrapper .descriptiontext {
    max-width: none;
  }
  .homeblock .block-container #description-home .wrapper .mobilebrands {
    float: none;
    text-align: center;
    display: inline-block;
  }
  .homeblock .block-container #picture-home {
    display: none;
  }
  .appsblock .block-container .apps .slider {
    margin-top: 40px;
  }
  .appsblock .block-container .apps .slider .navigation {
    margin: 0 10px;
  }
  .appsblock .block-container .apps .slider .rotator {
    margin: 0 10%;
  }
  .appsblock .block-container .apps .slider .rotator .slide {
    display: inline-block;
    float: left;
  }
  .appsblock .block-container .apps .slider .rotator .slide h1.title {
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  .appsblock .block-container .apps .slider .rotator .slide .picture {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .appsblock .block-container .apps .slider .rotator .slide .picture img {
    float: none;
    display: inline-block;
  }
  .appsblock .block-container .apps .slider .rotator .slide .container {
    display: inline-block;
    margin-top: 1em;
    width: 100%;
    max-width: none;
    text-align: center;
    padding: 0;
  }
  .appsblock .block-container .apps .slider .rotator .slide .container .description {
    max-width: none;
    padding: 1em 0;
  }
  .appsblock .block-container .apps .slider .rotator .slide .container .storebuttons {
    margin-top: 0;
  }
  .skillsblock.block {
    padding: 0;
  }
  .skillsblock.block .block-container {
    padding: 0;
  }
  .skillsblock.block .block-container .skillcontainer {
    width: 50%;
    max-width: 380px;
  }
  .skillsblock.block .block-container .skillcontainer .wrapper h4.title {
    margin: 1em;
  }
  .teamblock .block-container .teamcontainer .personal {
    width: 40%;
    margin: 0 5%;
    float: left;
  }
  .teamblock .block-container .teamcontainer .personal .photo {
    opacity: 1;
  }
  .priceblock .block-container .pricetable {
    margin-top: 40px;
  }
  .priceblock .block-container .pricetable .priceitem {
    width: 50%;
    max-width: none;
    text-align: center;
    margin-bottom: 20px;
  }
  .priceblock .block-container .pricetable .priceitem:hover {
    -webkit-transform: rotate(0) scale(1);
    -moz-transform: rotate(0) scale(1);
    -ms-transform: rotate(0) scale(1);
    -o-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  .priceblock .block-container .infoblock {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .priceblock .block-container .infoblock .title {
    text-align: center;
    color: #ffffff;
  }
  .priceblock .block-container .infoblock .subscription {
    padding: 0 40px;
  }
  .priceblock .block-container .infoblock .contacticons {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
  }
  .blogblock .block-container .post {
    padding: 60px 40px;
  }
  .twitterblock .block-container .twitterlogo {
    display: none;
  }
  .twitterblock .block-container .messages-container {
    width: 100%;
  }
  .twitterblock .block-container .messages-container .message {
    margin: 0 10%;
    width: 80%;
    text-align: center;
  }
  .twitterblock .block-container .messages-container .message .content {
    font-size: 24px;
    line-height: 1.8;
  }
  .contactsblock {
    height: auto;
  }
  .contactsblock .map {
    display: none;
  }
  .contactsblock .block-container {
    float: left;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
  }
  .contactsblock .block-container .wrapper {
    width: 100%;
    padding: 40px 0;
  }
  .contactsblock .block-container .wrapper h2.title {
    font-size: 36px;
  }
  .contactsblock .block-container .wrapper .contact-info a:hover {
    color: #ffffff;
  }
  .contactsblock .block-container .wrapper .mailbutton {
    display: none;
  }
  .contactsblock .input-container {
    position: relative;
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    float: left;
    z-index: 10;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .contactsblock .input-container .wrapper {
    padding: 40px 20%;
  }
  .contactsblock .input-container:after {
    content: none;
  }
}
@media screen and (max-width: 800px) {
  .mainmenu .menuwrapper .menulist {
    padding: 0;
    float: left;
    width: 100%;
  }
  .mainmenu .menuwrapper .menulist ul.items {
    float: left;
    width: 100%;
  }
  .mainmenu .menuwrapper .menulist ul.items li.menuitem {
    display: none;
    width: 100%;
  }
  .mainmenu .menuwrapper .menulist ul.items li.menuitem a {
    width: 100%;
    font-size: 20px;
    border-radius: 0;
    padding: 0.5em 0;
    margin: 0;
  }
  .mainmenu .menuwrapper .menulist ul.items li.menuitem:first-child {
    display: inline-block;
  }
  .mainmenu .menuwrapper .menulist ul.items:hover li.menuitem {
    display: inline-block;
  }
  .mainmenu .menuwrapper .menulist ul.items:hover li.menuitem a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .skillsblock.block .block-container .skillcontainer {
    width: 80%;
    max-width: none;
    padding: 0 10%;
    border-bottom: 1px solid #c8c8c8;
  }
  .skillsblock.block .block-container .skillcontainer .wrapper {
    padding: 40px 10px;
  }
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  .block {
    padding-bottom: 40px;
  }
  .block .block-container {
    padding-top: 40px;
  }
  .block .block-container h2.title,
  .block .block-container .description {
    margin-left: 10px;
    margin-right: 10px;
  }
  .homeblock .block-container #description-home {
    padding: 0;
  }
  .homeblock .block-container #description-home .wrapper {
    margin: 0 10px;
  }
  .homeblock .block-container #description-home .wrapper .developer {
    font-size: 0.9em;
  }
  .appsblock .apps .slider {
    margin: 40px 0;
  }
  .appsblock .apps .slider .navigation {
    margin: 0 10px;
  }
  .appsblock .apps .slider .navigation:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .appsblock .apps .slider .rotator {
    margin: 0 50px;
  }
  .appsblock .apps .slider .rotator .slide .container {
    margin-top: 10px;
  }
  .appsblock .apps .slider .rotator .slide .container .title {
    margin: 0;
  }
  .teamblock .block-container .teamcontainer .personal {
    width: 100%;
    margin: 0;
  }
  .priceblock .block-container .pricetable .priceitem {
    width: 100%;
    margin-bottom: 0;
  }
  .blogblock {
    padding-bottom: 0;
  }
  .blogblock .block-container {
    padding-top: 60px;
  }
  .blogblock .block-container .post .column-2,
  .blogblock .block-container .post .column-3 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -o-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
  }
  .twitterblock .block-container .messages-container .message {
    text-align: center;
  }
  .twitterblock .block-container .messages-container .message .content {
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 1.8;
  }
  .contactsblock {
    padding-bottom: 0;
  }
  .contactsblock .input-container {
    border: none;
  }
  .contactsblock .input-container .wrapper {
    padding: 10px;
  }
}
